
/****** Object:  StoredProcedure [dbo].[sp_ProductosInsertar]    Script Date: 01/04/2026 06:44:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Insertar nuevo
CREATE OR ALTER PROCEDURE [dbo].[sp_ProductosInsertar]
    @Codigo VARCHAR(20),
    @Nombre VARCHAR(100),
    @Descripcion VARCHAR(255) = NULL,
    @PrecioCompra DECIMAL(10,2),
    @PrecioVenta DECIMAL(10,2),
    @Stock INT = 0,
    @StockMinimo INT = 0,
    @Categoria VARCHAR(50) = NULL,
    @Proveedor VARCHAR(100) = NULL,
    @IdUsuarioCreacion INT = 1
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS(SELECT 1 FROM Productos WHERE Codigo = @Codigo)
    BEGIN
        SELECT 0 AS Error;
        RETURN;
    END

    INSERT INTO Productos
    (
        Codigo,
        Nombre,
        Descripcion,
        PrecioCompra,
        PrecioVenta,
        Stock,
        StockMinimo,
        Categoria,
        Proveedor,
        FechaCreacion,
        IdUsuarioCreacion,
        Activo
    )
    VALUES
    (
        @Codigo,
        @Nombre,
        @Descripcion,
        @PrecioCompra,
        @PrecioVenta,
        @Stock,
        @StockMinimo,
        @Categoria,
        @Proveedor,
        GETUTCDATE(),
        @IdUsuarioCreacion,
        1
    );

    SELECT CAST(SCOPE_IDENTITY() AS INT) AS NuevoId;
END

/****** Object:  StoredProcedure [dbo].[sp_ProductosListar]    Script Date: 01/04/2026 06:44:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Listar todos productos
CREATE PROCEDURE [dbo].[sp_ProductosListar]
AS
BEGIN
    SELECT Id, Codigo, Nombre, Descripcion, PrecioCompra, PrecioVenta, Stock, StockMinimo, Categoria, Proveedor 
    FROM Productos 
    WHERE Activo = 1
    ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosObtener]    Script Date: 01/04/2026 06:44:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Obtener uno por Id
CREATE PROCEDURE [dbo].[sp_ProductosObtener]
    @Codigo varchar(20)
AS
BEGIN
    SELECT TOP 1 Id, Codigo, Nombre, Descripcion, PrecioCompra, PrecioVenta, Stock, StockMinimo, Categoria, Proveedor 
    FROM Productos 
    WHERE Codigo = @Codigo AND Activo = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ProductosObtenerStockMinimo]    Script Date: 01/04/2026 06:44:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Gilberto Ismael Andrade Cortes
-- Create date: 31/03/2026
-- Description:	Obtiene los productos que llegaron al stock minimo y serán alertados
-- =============================================
CREATE   PROCEDURE [dbo].[sp_ProductosObtenerStockMinimo]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    SELECT Id, Codigo, Nombre, Descripcion, PrecioCompra, PrecioVenta, Stock, StockMinimo, Categoria, Proveedor 
	FROM Productos
	WHERE Stock <= StockMinimo AND Activo = 1

END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarVenta]    Script Date: 01/04/2026 06:44:03 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_RegistrarVenta]
    @Folio NVARCHAR(20),
    @IdUsuario INT,
    @Total DECIMAL(10,2),
    @Detalle XML
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        INSERT INTO Ventas (Folio, FechaVenta, Subtotal, Descuento, Total, IdUsuario, FormaPago)
        VALUES (@Folio, GETDATE(), @Total, 0, @Total, @IdUsuario, 'Efectivo');

        DECLARE @IdVenta INT = SCOPE_IDENTITY();

        INSERT INTO DetalleVentas (IdVenta, IdProducto, CodigoProducto, NombreProducto, Cantidad, PrecioUnitario, Subtotal)
        SELECT 
            @IdVenta,
            t.c.value('(IdProducto)[1]', 'INT'),
            t.c.value('(Codigo)[1]', 'NVARCHAR(50)'),
            t.c.value('(Nombre)[1]', 'NVARCHAR(100)'),
            t.c.value('(Cantidad)[1]', 'INT'),
            t.c.value('(Precio)[1]', 'DECIMAL(10,2)'),
            t.c.value('(Cantidad)[1]', 'INT') * t.c.value('(Precio)[1]', 'DECIMAL(10,2)')
        FROM @Detalle.nodes('/Items/Item') t(c);

        UPDATE p
        SET p.Stock = p.Stock - d.Cantidad
        FROM Productos p
        INNER JOIN DetalleVentas d ON p.Id = d.IdProducto
        WHERE d.IdVenta = @IdVenta;

        COMMIT TRANSACTION;

        SELECT @IdVenta AS IdVenta;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
